[Desktop Entry]
Version=1.0
Type=Application
Name=Electrum Wallet
Comment=The best open source bitcoin wallet
Exec=/usr/local/bin/start_electrum.sh
Icon=/usr/local/share/electrum-logo-128px.png
Path=/home/ubuntu
Terminal=true
StartupNotify=false
