[Desktop Entry]
Type=Application
Exec=/home/ubuntu/.local/bin/start_electrum.sh
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[C]=Electrum wallet
Name=electrum2
Comment[C]=start Electrum wallet automatically
Comment=start Electrum wallet automatically
