[Unit]
Description=EROAS setup
After=graphical.target

[Service]
#ExecStartPre=/usr/bin/sleep 60
ExecStart=/usr/sbin/eroas_setup.sh
Type=idle               # we run last 

[Install]
WantedBy=graphical.target

