[Unit]
Description=EROAS system level setup
After=graphical.target

[Service]
#ExecStartPre=/usr/bin/sleep 60
ExecStart=/usr/local/sbin/eroas_system_setup.sh
Type=idle
# idle ensures we run last 

[Install]
WantedBy=graphical.target
